<div id="sliders" class="columns large-8 medium-8 small-12">
    <div id="slider" class="shadow-1 hover-1" onclick="link('/index.html')">
        <h3 itemprop="name" style="position:relative; top:-5px; z-index:2;">Комплексный обед</h3>
        <img itemprop="image" alt="Набор объективов 3 в 1" src="./img/breakfast.jpg"
             style="float:right; position:relative; top:0px; width: 50%;  z-index:1;">
        <span style="color:red; font-size:30px;">180 Р</span>
        <p itemprop="description" style="font-size: 20px;">Еда, классная еда c доставкой, вкусная еда с
            доставкой на дом, манящая еда, много еды. Покупай скорее! Можно заказать еду на дом.</p>
    </div>
</div>
<div id="day" class="columns large-4 medium-4 small-12">
    <div id="bday" class="shadow-1 hover-1">
        <div class="top"><h4>Товар дня</h4></div>
        <div class="imgbd"><img itemprop="image" alt="Xiaomi Mi Key" src="./img/chicken.jpg"
                                style="position:relative; z-index:1; margin-top: 5%; height:90%"></div>
        <div class="bottom">
                            <span style="color:white; font-size:30px; text-align: left;"><p style="margin: 14px;">Курочка <b
                                    style="color:#FF5555;">80Р/100г!</b></p></span>
        </div>
    </div>
</div>
<div class="cardc columns small-12 medium-4 large-4">
    <div class="card shadow-1 hover-1 waves-effect">
        <div class="mdi-action-info card-ic"></div>
        <h5>О магазине</h5>
        <p class="valign">+7(495)xxx xx xx<br> Пн—Вс 16:00—22:00</p>
    </div>
</div>
<div class="cardc columns small-12 medium-4 large-4">
    <div class="card shadow-1 hover-1 waves-effect">
        <div class="mdi-maps-local-shipping card-ic"></div>
        <h5>Доставка</h5>
        <p>Мы доставим ваш заказ курьером по Москве или почтой по всей России.</p>
    </div>
</div>
<div class="cardc columns small-12 medium-4 large-4">
    <div class="card shadow-1 hover-1 waves-effect">
        <div class="mdi-action-payment card-ic"></div>
        <h5>Оплата</h5>
        <p>Оплатите заказ наличными курьеру или при личной встрече.</p>
    </div>
</div>
<div class="titlec columns small-12 medium-12 large-12">
    <div class="title shadow-1 hover-1">
        <h4>Скидки и промо-акции</h4>
    </div>
</div>
<div class="promo columns small-12 medium-12 large-4">
    <div class="promotion shadow-1 hover-1 waves-effect">
    </div>
</div>
<div class="promo columns small-12 medium-12 large-4">
    <div class="promotion shadow-1 hover-1 waves-effect">
    </div>
</div>
<div class="promo columns small-12 medium-12 large-4">
    <div class="promotion shadow-1 hover-1 waves-effect">
    </div>
</div>

<div class="titlec columns small-12 medium-12 large-12">
    <div class="title shadow-1 hover-1 waves-effect">
        <h4>Лучшие предложения на сегодня</h4>
    </div>
</div>