<div class="titlec columns small-12 medium-12 large-12">
    <div class="title shadow-1 hover-1">
        <h4>Оформление заказа</h4>
    </div>
</div>
<div id="order" class="columns large-12 medium-12 small-12">
    <div id="order-card" class="card shadow-1 hover-1">
        <table class="order-table">
            <tr class="order-tr">
                <td class="order-td">Имя</td>
                <td class="order-td"></td>
                <td class="order-td"></td>
                <td class="order-td"></td>
            </tr>
            <tr class="order-tr">
                <td class="order-td"></td>
                <td class="order-td"></td>
                <td class="order-td"></td>
                <td class="order-td"></td>
            </tr>
            <tr class="order-tr">
                <td class="order-td"></td>
                <td class="order-td"></td>
                <td class="order-td"></td>
                <td class="order-td"></td>
            </tr>
        </table>
    </div>
</div>
<div class="titlec columns small-12 medium-12 large-12">
    <div class="title shadow-1 hover-1">
        <h4>Скидки и промо-акции</h4>
    </div>
</div>
<div class="promo columns small-12 medium-12 large-4">
    <div class="promotion shadow-1 hover-1 waves-effect">
    </div>
</div>
<div class="promo columns small-12 medium-12 large-4">
    <div class="promotion shadow-1 hover-1 waves-effect">
    </div>
</div>
<div class="promo columns small-12 medium-12 large-4">
    <div class="promotion shadow-1 hover-1 waves-effect">
    </div>
</div>